@import url("https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
body {
  margin: 0; }

body,
html {
  overflow-x: hidden; }

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif; }

h2 {
  color: #60AAFF;
  font-size: 45px;
  font-family: 'Roboto', sans-serif; }

h1 {
  padding: 120px 0 0;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-size: 52px;
  font-family: 'Roboto', sans-serif; }

p {
  line-height: 1.8;
  color: #60AAFF;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5; }

.bouton-primaire {
  cursor: pointer;
  transition: 0.7s;
  background-color: #FFFFFF;
  border: 1px solid #60AAFF;
  color: #60AAFF;
  font-size: 15px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  z-index: 1; }
  .bouton-primaire:hover {
    background-color: #60AAFF;
    border: 1px solid #FFFFFF;
    color: #FFFFFF; }

main {
  width: 100%;
  padding: 30px; }

#app {
  display: flex;
  width: 100%;
  min-height: 100vh; }

aside {
  background-color: #121212;
  padding: 25px;
  min-width: 250px; }
  aside .menu-label {
    color: #60AAFF; }
    aside .menu-label a {
      display: flex;
      flex-direction: column; }
      aside .menu-label a img {
        width: 100px; }
  aside .menu-list a {
    color: #fff; }
  aside .menu-list .is-active {
    background-color: #60AAFF; }
