@import url("https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
body {
  margin: 0; }

body,
html {
  overflow-x: hidden; }

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif; }

h2 {
  color: #60AAFF;
  font-size: 45px;
  font-family: 'Roboto', sans-serif; }

h1 {
  padding: 120px 0 0;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-size: 52px;
  font-family: 'Roboto', sans-serif; }

p {
  line-height: 1.8;
  color: #4b88ce;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5; }

.bouton-primaire {
  cursor: pointer;
  transition: 0.7s;
  background-color: #FFFFFF;
  border: 1px solid #60AAFF;
  color: #60AAFF;
  font-size: 15px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  z-index: 1; }
  .bouton-primaire:hover {
    background-color: #60AAFF;
    border: 1px solid #FFFFFF;
    color: #FFFFFF; }

img {
  focus: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none; }

p {
  z-index: 1;
  display: flex; }

.text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white; }

section.index {
  margin: 100px 0 0 0;
  background-color: #60AAFF; }
  section.index section.nuages img {
    position: absolute;
    width: 400px; }
  section.index section.nuages img:nth-child(1) {
    left: 30%;
    top: 170px;
    transition: 1.6s; }
  section.index section.nuages img:nth-child(2) {
    left: 70%;
    transition: 1.4s; }
  section.index section.nuages img:nth-child(3) {
    top: 250px;
    transition: 0.5s; }
  section.index section.Eolienne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 300px; }
    section.index section.Eolienne img:nth-child(2) {
      margin-top: 60px;
      width: 800px;
      max-height: 440px;
      z-index: 2; }
    section.index section.Eolienne img:nth-child(1) {
      margin-top: -200px;
      z-index: 1;
      width: 350px;
      position: absolute; }
  section.index section.Windy {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section.index section.Windy .text {
      padding: 40px 0 40px 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      height: 100vh; }
      section.index section.Windy .text .paragraphe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%; }
        section.index section.Windy .text .paragraphe h3 {
          width: 95%;
          text-align: center;
          color: #60AAFF;
          font-size: 40px;
          font-family: 'Knewave', cursive; }
        section.index section.Windy .text .paragraphe p {
          width: 95%;
          text-align: center; }
        section.index section.Windy .text .paragraphe a {
          margin: 55px 15px 15px; }
      section.index section.Windy .text .oiseaux {
        width: 50%;
        height: 440px;
        min-width: 440px; }
        section.index section.Windy .text .oiseaux img {
          position: absolute;
          z-index: 0; }
        section.index section.Windy .text .oiseaux img:nth-child(1) {
          margin-top: 250px;
          margin-left: 30%;
          transition: 0.7s;
          width: 170px; }
        section.index section.Windy .text .oiseaux img:nth-child(2) {
          margin-left: 5%;
          margin-top: 150px;
          transition: 0.4s;
          width: 220px; }
        section.index section.Windy .text .oiseaux img:nth-child(3) {
          margin-left: 20%;
          transition: 0.5s;
          width: 150px; }
    section.index section.Windy .boutons-eolienne {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      section.index section.Windy .boutons-eolienne a {
        display: flex;
        justify-content: center;
        align-items: center; }
  section.index section.Pourquoi {
    padding-top: 200px;
    background-image: linear-gradient(to bottom, rgba(18, 42, 66, 0.85), rgba(18, 42, 66, 0.85)), url("https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/2959355/original/african-children/get-kids-from-africa-to-scream-happy-birthday.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed; }
    section.index section.Pourquoi h2 {
      line-height: 2; }
    section.index section.Pourquoi .text {
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 40px 0 40px 0;
      margin-top: 200px; }
      section.index section.Pourquoi .text .paragraphe {
        width: 70%;
        min-width: 492px;
        display: flex;
        align-items: center; }
        section.index section.Pourquoi .text .paragraphe p {
          padding: 0 100px 0 100px; }
      section.index section.Pourquoi .text .img {
        height: 100px;
        display: flex; }
      section.index section.Pourquoi .text .paragraphe:nth-child(1) {
        background-color: white;
        display: flex;
        flex-direction: column;
        text-align: center; }
        section.index section.Pourquoi .text .paragraphe:nth-child(1) img {
          width: 70px;
          height: 100px; }
        section.index section.Pourquoi .text .paragraphe:nth-child(1) img:nth-child(1) {
          margin-top: 0%;
          margin-left: -50%; }
        section.index section.Pourquoi .text .paragraphe:nth-child(1) img:nth-child(2) {
          margin-top: 5%;
          margin-left: 45%; }
        section.index section.Pourquoi .text .paragraphe:nth-child(1) p {
          color: #60AAFF; }
    section.index section.Pourquoi h2 {
      text-align: center; }
  section.index section.Moyen {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(18, 42, 66, 0.85), rgba(18, 42, 66, 0.85)), url("https://wiki.lowtechlab.org/images/thumb/1/10/L_olienne_Equipe_et_Eolienne_c_Laurent_Sardi.jpg/800px-L_olienne_Equipe_et_Eolienne_c_Laurent_Sardi.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed; }
    section.index section.Moyen h2 {
      text-align: center; }
    section.index section.Moyen .text {
      height: 100vh;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      padding: 40px 0 40px 0;
      margin-top: 200px;
      width: 100% !important; }
      section.index section.Moyen .text .paragraphe {
        text-align: center;
        width: 70%;
        min-width: 492px;
        display: flex;
        align-items: center; }
        section.index section.Moyen .text .paragraphe p {
          padding: 0 100px 0 100px; }
      section.index section.Moyen .text .img {
        height: 100px;
        display: flex; }
      section.index section.Moyen .text .paragraphe:nth-child(2) {
        background-color: white;
        display: flex;
        flex-direction: column; }
        section.index section.Moyen .text .paragraphe:nth-child(2) p {
          color: #60AAFF; }
      section.index section.Moyen .text .paragraphe:nth-child(1) {
        margin-bottom: 40px;
        background-color: white;
        display: flex;
        flex-direction: column; }
        section.index section.Moyen .text .paragraphe:nth-child(1) img {
          width: 150px;
          height: 150px; }
        section.index section.Moyen .text .paragraphe:nth-child(1) img:nth-child(1) {
          margin-top: -10%;
          margin-left: -40%; }
        section.index section.Moyen .text .paragraphe:nth-child(1) img:nth-child(2) {
          margin-top: 5%;
          margin-left: 45%; }
        section.index section.Moyen .text .paragraphe:nth-child(1) img:nth-child(3) {
          margin-left: 0; }
        section.index section.Moyen .text .paragraphe:nth-child(1) p {
          color: #60AAFF; }
  section.index section.Dessin {
    display: flex;
    height: 450px;
    margin-top: 550px; }
    section.index section.Dessin .plaine-petit {
      display: flex;
      position: absolute;
      width: 800px;
      min-width: 50%;
      height: 450px;
      border-radius: 50% 50% 0 0;
      background-color: #00B94A;
      left: -10%;
      z-index: 0; }
      section.index section.Dessin .plaine-petit img:nth-child(1) {
        width: 400px;
        position: absolute;
        padding-left: 50px;
        margin-top: -200px;
        z-index: 1; }
      section.index section.Dessin .plaine-petit img:nth-child(2) {
        position: absolute;
        padding-left: 350px;
        margin-top: 20px;
        z-index: 1; }
    section.index section.Dessin .plaine-grand {
      position: absolute;
      width: 1100px;
      min-width: 80%;
      height: 450px;
      border-radius: 50% 0% 0 0;
      background-color: #00D957;
      right: 0%; }
      section.index section.Dessin .plaine-grand img {
        width: 100px; }
      section.index section.Dessin .plaine-grand img:nth-child(1) {
        width: 700px;
        margin-top: -530px;
        position: absolute;
        padding-left: 380px;
        z-index: 1; }
      section.index section.Dessin .plaine-grand img:nth-child(2) {
        position: absolute;
        padding-left: 300px;
        z-index: 1; }
      section.index section.Dessin .plaine-grand img:nth-child(3) {
        position: absolute;
        margin-top: 40px;
        padding-left: 380px;
        z-index: 2; }
      section.index section.Dessin .plaine-grand img:nth-child(4) {
        position: absolute;
        margin-top: 20px;
        padding-left: 450px;
        z-index: 1; }
      section.index section.Dessin .plaine-grand img:nth-child(5) {
        width: 900px;
        position: absolute;
        margin-top: -720px;
        padding-left: 285px;
        z-index: 1; }

svg#freepik_stories-wind-turbine:not(.animated) .animable {
  opacity: 0; }

svg#freepik_stories-wind-turbine.animated #freepik--wind-turbine-1--inject-16 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp, 1.5s Infinite linear floating;
  animation-delay: 0s,1s; }

.animationtropstyle:not(.animated) .animable {
  opacity: 0; }

.animationtropstyle {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp, 1.5s Infinite linear floating;
  animation-delay: 0s,1s; }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: inherit; } }

@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px); }
  50% {
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.animator-hidden {
  display: none; }

@media screen and (max-width: 1000px) {
  section.Pourquoi .paragraphe:nth-child(1) {
    border-radius: 20px; }
  section.Pourquoi p {
    text-align: center; }
  section.Moyen p {
    text-align: center; } }

@media screen and (max-width: 600px) {
  .animationtropstyle {
    animation: 0; }
  body,
  html {
    overflow-y: visible; }
  p {
    font-size: 15px;
    width: 80%; }
  h2 {
    font-size: 30px; }
  section.index section.nuages * {
    display: none; }
  section.index section.Windy .oiseaux {
    display: none; }
  section.index section.Windy p {
    text-align: center !important; }
  section.index section.Pourquoi {
    margin-top: 0px !important; }
    section.index section.Pourquoi .text {
      margin-top: 0px !important; }
    section.index section.Pourquoi .paragraphe {
      min-width: 90% !important; }
      section.index section.Pourquoi .paragraphe img {
        display: none; }
    section.index section.Pourquoi p {
      width: 200px; }
  section.index section.Moyen {
    margin-top: 0px !important; }
    section.index section.Moyen .text {
      margin-top: 0; }
    section.index section.Moyen .paragraphe {
      min-width: 90% !important; }
      section.index section.Moyen .paragraphe img {
        display: none; }
    section.index section.Moyen p {
      width: 200px; }
  section.index section.Dessin {
    height: 300px;
    display: none; } }
