@import url("https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
body {
  margin: 0; }
  body #app {
    display: flex; }

body,
html {
  overflow-x: hidden;
  margin: 0; }

aside {
  background-color: #121212;
  padding: 25px;
  min-width: 250px; }
  aside .menu-label {
    color: #60AAFF; }
    aside .menu-label a {
      display: flex;
      flex-direction: column; }
      aside .menu-label a img {
        width: 100px; }
  aside .menu-list a {
    color: #fff; }
  aside .menu-list .is-active {
    background-color: #60AAFF; }
