@import 'colors';
@import 'fonts';

body {
  margin: 0;
}

body,
html {
  overflow-x: hidden;
}

a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: $secondary-color;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  padding: 120px 0 0;
  display: flex;
  justify-content: center;
  color: $h1font-color;
  font-size: 52px;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.8;
  color: $secondary-color;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.bouton-primaire {
  cursor: pointer;
  transition: 0.7s;
  background-color: #FFFFFF;
  border: 1px solid $secondary-color;
  color: $secondary-color;
  font-size: 15px;
  width: 300px;
  height: 50px;
  border-radius: 10px;

  &:hover {
    background-color: $secondary-color;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
  }
  z-index: 1;
}
