@import 'colors';
@import 'fonts';
@import 'general';

body {
  margin: 0;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
}

.panel {
  height: 100vh;
  width: 100%;
  background-image: white;

}


h1 {
  padding: 120px 0 0;
  display: flex;
  justify-content: center;
  color: $h1font-color;
  font-size: 52px;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.8;
  color: $secondary-color;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.bouton-primaire {
  cursor: pointer;
  margin: 55px 15px 15px;
  transition: 0.7s;
  background-color: #FFFFFF;
  border: 1px solid $secondary-color;
  color: $secondary-color;
  font-size: 15px;
  width: 300px;
  height: 50px;
  border-radius: 10px;

  &:hover {
    background-color: $secondary-color;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
  }
  z-index: 1;
}

section.miseEnPlace{

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text {
    height: 200vh;
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $h1font-color;

    .paragraphe{
      z-index: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;

      h3{
        width: 95%;
        text-align: center;
        color: $secondary-color;
        font-size: 40px;
        font-family: 'Knewave', cursive;
      }

      p{
        width: 95%;
        text-align: center;
      }
    }

  }
}

.video {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $secondary-color;
  iframe{
    margin-top: 100px;
    width: 60%;
    height: 60%;
  }
}

.SectionNotreEquipe {
  width: 100%;
  background-color: white;
  h2{
    width: 100%;
    text-align: center;
    color: $h1font-color;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
  }
  .team{
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .people{
      img{
        width: 400px;
        height: 500px;
        object-fit: cover;
        margin: 10px;
      }
      #Florent{
      }
      #Florian{
      }
      h3{
        margin: 0;
        width: 100%;
        text-align: center;
        color: $secondary-color;
        font-size: 40px;
        font-family: 'Knewave', cursive;
        &:first-child{
          margin-top: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {

  .SectionNotreEquipe{
    .people{
      img{
        width: 200px !important;
        height: 300px !important;

      }
    }
  }

}

@media screen and (max-width: 600px) {

  body,
  html {
    overflow-y: visible;
  }

  h1{
    padding-bottom: 100px;
  }

  section.nuages{
    * {
      display: none;
    }
  }

  #Florian{
    margin-top: 10px;
  }
}


@media (max-width: 770px) {
  section.miseEnPlace{
    .text {
      .paragraphe{
        align-items: center;
        text-align: center;
        width: 100%;
      }
    }
  }

}
