@import 'colors';
@import 'fonts';
@import 'general';

body {
  margin: 0;
  #app{
    display: flex;

  }
}

body,
html {
  overflow-x: hidden;
  margin: 0;
}

aside{
  padding: 5px;
  min-width: 250px;
  .menu-label{
    a{
      display: flex;
      flex-direction: column;
      img{
        width: 100px;
      }
    }
  }
  .menu-list{
    .is-active{
      background-color: $secondary-color;
    }
  }
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.actif, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
textarea {
    width: 100%;
}
