@import 'colors';
@import 'fonts';
@import 'general';

.container {
  width: 80%;
  margin: 0 auto;
  clear: both;
}

nav {
  background: #fff;
  line-height: 80px;
  // box-shadow: 1px 1px 1px lightgrey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s;
  height: 80px;
  a {
    display: inline-block;
    color: $secondary-color;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
  }

  &.scrollUp {
    transform: translateY(-80px);
  }

  img {
    width: 61.5px;
  }

  ul.navbar-menu {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;

    li {
      display: inline-block;
      margin: 0 10px;

      a {
        color: $secondary-color;
        font-size: 13px;
      }

      img {
        margin-bottom: -11px !important;
        width: 61.5px;
        border-radius: 20px;
      }

      a:hover{
        text-decoration: underline;
        text-underline-offset: 1rem;
      }
    }
  }

  a#brand {
    text-transform: uppercase;
    float: left;
    font-weight: 800;
    font-size: 20px;
    display: flex;
    span{
      margin-left: 60px;
    }
  }

  button {
    background: none;
    width: 30px;
    height: 40px;
    margin-top: 20px;
    border: none;
    float: right;
    display: inline-block;
    cursor: pointer;
    display: none;

    span {
      width: 30px;
      height: 40px;
      height: 2px;
      background: $secondary-color;
      display: block;
      margin: 5px 0;
    }

    &:focus {
      outline: 0;
    }
  }
}

.active {
  transition-duration: 0.5s;
  height: 400px !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.rotate {
  transition: 0.5s;
}

.rotateActive {
  transform: translate(0px, 8px) rotate(45deg)!important;
}

.rotateActive1 {
  opacity: 0;
}

.rotateActive2 {
  transform: translate(0px, -7px) rotate(-45deg)!important;
}
@media (max-width: 1150px) {
  nav ul.navbar-menu {
    background-color: white;
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  nav button {
    display: block;
  }
}

@media (max-width: 750px) {
  nav{
    line-height: 50px;
    ul{
      border: 2px solid $secondary-color;
    }
    a{
      span{
        margin-left: -10px !important;
        font-size: 10px;

      }
    }
  }
}
