@import 'colors';
@import 'fonts';
@import 'general';

body {
}

body,
html {
  overflow-x: hidden;
  margin: 0;
}

h1 {
  padding: 100px 0 0;
  display: flex;
  justify-content: center;
  color: $h1font-color;
  font-size: 52px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: $h2font-color;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.8;
  color: $secondary-color;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

img {
  focus: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

p {
  z-index: 1;
  // width: 55%;
  display: flex;
  // justify-content: center;
  // text-align: center;
}

.text {
  // padding: 20px;
  // margin-top: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.bouton-primaire {
  cursor: pointer;
  margin: 55px 15px 15px;
  transition: 0.7s;
  background-color: #FFFFFF;
  border: 1px solid $secondary-color;
  color: $secondary-color;
  font-size: 15px;
  width: 300px;
  height: 50px;
  border-radius: 10px;

  &:hover {
    background-color: $secondary-color;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
  }
  z-index: 1;
}

section.index {
  margin: 100px 0 0 0;
  border-radius: 20px;
  background-color: #60AAFF;

  // NOTE: images de nuages

  section.nuages {
    img {
      position: absolute;
      width: 400px;
    }

    img:nth-child(1) {
      left: 30%;
      top: 170px;
      transition: 1.6s;
    }

    img:nth-child(2) {
      left: 70%;
      transition: 1.4s;
    }

    img:nth-child(3) {
      top: 250px;
      transition: 0.5s;
    }
  }
  // NOTE: image de l'eolienne
  section.Eolienne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 300px;

    img:nth-child(2) {
      margin-top: 60px;
      width: 800px;
      z-index: 2;
    }

    img:nth-child(1) {
      margin-top: -200px;
      z-index: 1;
      width: 350px;
      position: absolute;
    }
  }
  // NOTE: section de la presentation de l'Eolienne
  section.Windy {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text {
      padding: 40px 0 40px 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      height: 100vh;
      .paragraphe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;

        h3{
          width: 95%;
          text-align: center;
          color: $secondary-color;
          font-size: 40px;
          font-family: 'Knewave', cursive;
        }

        p{
          width: 95%;
          text-align: center;
        }
      }

      .oiseaux {
        width: 50%;
        height: 440px;
        min-width: 440px;

        img {
          position: absolute;
          z-index: 0;
        }

        img:nth-child(1) {
          margin-top: 250px;
          margin-left: 30%;
          transition: 0.7s;
          width: 170px;
        }

        img:nth-child(2) {
          margin-left: 5%;
          margin-top: 150px;
          transition: 0.4s;
          width: 220px;
        }

        img:nth-child(3) {
          margin-left: 20%;
          transition: 0.5s;
          width: 150px;
        }
      }
    }

    .boutons-eolienne {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  // NOTE: section du pourquoi l'eolienne
  section.Pourquoi {
    padding-top: 200px;
    background-image:
        linear-gradient(to bottom, rgba(18,42, 66, .85), rgba(18,42, 66, .85)),
        url("https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/2959355/original/african-children/get-kids-from-africa-to-scream-happy-birthday.jpg");
       -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    background-attachment: fixed;
    h2{
      line-height: 2;
    }
    .text {
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 40px 0 40px 0;
      margin-top: 200px;
      .paragraphe{
        width: 70%;
        min-width: 492px;
        display: flex;
        align-items: center;
        p{
          padding: 0 100px 0 100px;
        }
      }
      .img{
        height: 100px;
        display: flex;
      }

      // .paragraphe:nth-child(1){
      //   background-color: $secondary-color;
      //   display: flex;
      //   flex-direction: column;
      //   border-top-right-radius: 20px;
      //   border-bottom-right-radius: 20px;
      //   img{
      //     width: 150px;
      //     height: 150px;
      //   }
      //
      //
      //   img:nth-child(1) {
      //     margin-top: -10%;
      //     margin-left: -40%;
      //   }
      //
      //   img:nth-child(2) {
      //     margin-top: 5%;
      //     margin-left: 45%;
      //   }
      //
      //   img:nth-child(3) {
      //     margin-left: 0;
      //   }
      //
      //   p{
      //     color: white;
      //   }
      // }

      .paragraphe:nth-child(1){
        background-color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        img{
          width: 70px;
          height: 100px;
        }


        img:nth-child(1) {
          margin-top: 0%;
          margin-left: -50%;
        }

        img:nth-child(2) {
          margin-top: 5%;
          margin-left: 45%;
        }

        img:nth-child(3) {
        }

        p{
          color: $secondary-color;
        }
      }
    }

    h2 {
      text-align: center;
    }
  }
  // NOTE: section des moyens mis en place
  section.Moyen {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      text-align: center;
    }

    background-image:
        linear-gradient(to bottom, rgba(18,42, 66, .85), rgba(18,42, 66, .85)),
        url("https://wiki.lowtechlab.org/images/thumb/1/10/L_olienne_Equipe_et_Eolienne_c_Laurent_Sardi.jpg/800px-L_olienne_Equipe_et_Eolienne_c_Laurent_Sardi.jpg");
       -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    background-attachment: fixed;

    .text {
      height: 100vh;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      // background-color: $secondary-color;
      padding: 40px 0 40px 0;
      margin-top: 200px;
      width: 100% !important;
      .paragraphe{
        text-align: center;
        width: 70%;
        min-width: 492px;
        display: flex;
        align-items: center;
        p{

          padding: 0 100px 0 100px;
        }
      }
      .img{
        height: 100px;
        display: flex;
      }

      .paragraphe:nth-child(2){
        background-color: white;
        display: flex;
        flex-direction: column;
        // border-bottom-left-radius: 20px;
        // border-bottom-right-radius: 20px;

        // border-radius: 20px;


        p{
          color: $secondary-color;
        }
      }

      .paragraphe:nth-child(1){
        // border-top-left-radius: 20px;
        // border-top-right-radius: 20px;

        margin-bottom: 40px;

        background-color: white;
        display: flex;
        flex-direction: column;
        // border-radius: 20px;

        img{
          width: 150px;
          height: 150px;
        }


        img:nth-child(1) {
          margin-top: -10%;
          margin-left: -40%;
        }

        img:nth-child(2) {
          margin-top: 5%;
          margin-left: 45%;
        }

        img:nth-child(3) {
          margin-left: 0;
        }

        p{
          color: $secondary-color;
        }
      }
    }


  }
  // NOTE: section du dessin
  section.Dessin {
    display: flex;
    height: 600px;
    margin-top: 750px;

    .plaine-petit {
      display: flex;
      position: absolute;
      width: 800px;
      min-width: 50%;
      height: 700px;
      border-radius: 50% 50% 0 0;
      background-color: #00B94A;
      left: -10%;
      z-index: 0;

      img:nth-child(1) {
        width: 400px;
        position: absolute;
        padding-left: 50px;
        margin-top: -200px;
        z-index: 1;
      }

      img:nth-child(2) {
        position: absolute;
        padding-left: 350px;
        margin-top: 20px;
        z-index: 1;
      }
    }

    .plaine-grand {
      position: absolute;
      width: 1100px;
      min-width: 80%;
      height: 700px;
      border-radius: 50% 0% 0 0;
      background-color: #00D957;
      right: 0%;

      img {
        width: 100px;
      }

      img:nth-child(1) {
        width: 700px;
        margin-top: -530px;
        position: absolute;
        padding-left: 380px;
        z-index: 1;
      }

      img:nth-child(2) {
        position: absolute;
        padding-left: 300px;
        z-index: 1;
      }

      img:nth-child(3) {
        position: absolute;
        margin-top: 40px;
        padding-left: 380px;
        z-index: 2;
      }

      img:nth-child(4) {
        position: absolute;
        margin-top: 20px;
        padding-left: 450px;
        z-index: 1;
      }

      img:nth-child(5) {
        width: 900px;
        position: absolute;
        margin-top: -720px;
        padding-left: 285px;
        z-index: 1;
      }
    }
  }
}

svg#freepik_stories-wind-turbine:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-wind-turbine.animated #freepik--wind-turbine-1--inject-16 {
  animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp,1.5s Infinite linear floating;
  animation-delay: 0s,1s;
}

.animationtropstyle:not(.animated) .animable {
  opacity: 0;
}

.animationtropstyle {
  animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp,1.5s Infinite linear floating;
  animation-delay: 0s,1s;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: inherit;
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animator-hidden {
  display: none;
}
@media screen and (max-width: 1000px) {
  section.Pourquoi{
    .paragraphe:nth-child(1){
      border-radius: 20px;
    }
    p{
      text-align: center;
    }
  }

  section.Moyen{
    p{
      text-align: center;
    }
  }
}
@media screen and (max-width: 600px) {
  .animationtropstyle {
    animation: 0;
  }

  body,
  html {
    overflow-y: visible;
  }

  p {
    font-size: 15px;
    width: 80%;
  }

  h2 {
    font-size: 30px;
  }

  section.index {
    section.nuages {
      * {
        display: none;
      }
    }

    section.Windy {
      .oiseaux{
        display: none;
      }
      p{
        text-align: center !important;
      }
    }

    section.Pourquoi {
      margin-top: 0px !important;
      .text{
        margin-top: 0px !important;
      }
      .paragraphe{
        min-width: 90% !important;
        img{
          display: none;
        }
      }
      p{
        width: 200px;
      }
    }

    section.Moyen {
      margin-top: 0px !important;
      .text{
        margin-top: 0;
      }
      .paragraphe{
        min-width: 90% !important;
        img{
          display: none;
        }
      }
      p{
        width: 200px;
      }
    }

    section.Dessin {
      height: 300px;
      display: none;
    }
  }
}
